env/
myproject.egg-info/
backend/saved_models/
backend/saved_models_personal/
backend/artifacts/
backend/artifacts
backend/indexes/
backend/deployment_logs/
**/wandb/
**/__pycache__/
**/.DS_Store
*.out